<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Gitana Javascript Driver - Test App</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

    <!-- Gitana Proxy Servlet -->
	<servlet>
		<servlet-name>Gitana Proxy Servlet</servlet-name>
		<servlet-class>org.gitana.platform.servlet.GitanaProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>8080</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPath</param-name>
            <param-value>/proxy</param-value>
        </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Gitana Proxy Servlet</servlet-name>
		<url-pattern>/proxy/*</url-pattern>
	</servlet-mapping>

</web-app>	